[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.8.1"
django = "==5.0.6"
djangorestframework = "==3.15.1"
mypy = "==1.10.0"
mypy-extensions = "==1.0.0"
sqlparse = "==0.5.0"
typing-extensions = "==4.12.2"

[dev-packages]

[requires]
python_version = "3.11"
